<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"className":"ncp-phead","style":{"spacing":{"padding":{"top":"3.4rem","bottom":"2.4rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group ncp-phead" style="padding-top:3.4rem;padding-bottom:2.4rem">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
